{% extends 'adm/header.html' %}

{% block content %}
<h2 align="center">เพิ่มแผนก</h2>
<br>
<br>
<br>
{% for message in form.error %}
    <h3>{{message}}</h3>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group row col-5 mx-auto">
      <input type="text" class="form-control" id="branch" name="branch" required>
      <br>
      <br>
      <br>
      <br>
    {% for field in form %}
    <p>
        {% if field.help_text %}
            <!-- <br>
            <small style="color: grey">{{ field.help_text }}</small> -->
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <br>
    <br>
      <div class="mx-auto">
        <input type="submit" value="ยืนยัน" class="btn btn-primary">
      </div>
    </div>

</form>

{% endblock %}
