{% extends 'adm/header.html' %}

{% block content %}
<h2 align="center">เพิ่มแผนก</h2>
<br>
<br>
<br>
<form method="POST">
    {% csrf_token %}
    <div class="form-group row col-5 mx-auto">
      <a style="color:tomato">{{message}}</a><br>
      <a>ชื่อแผนก</a><br>
      <input type="text" class="form-control" id="branch" name="branch" value="{{branch}}" required>
    <br>
    <br>
      <div class="mx-auto">
        <input type="submit" value="ยืนยัน" class="btn btn-primary">
      </div>
    </div>

</form>

{% endblock %}
