{% extends 'adm/header.html' %}

{% block content %}
<h2 align="center" style="color:#555555">เพิ่มหัวหน้างาน</h2>
<h2 align="center" style="color:#555555">{{branch.name}}</h2>
    <form method="POST">
    {% csrf_token %}
    {% if not free_manager %}
        <br>
        <br>
        <h5 align="center" style="color:tomato">ไม่มีหัวหน้างานว่าง</h5>
    {% else %}
    <div style="text-align:center">
        <select name ="เพิ่มหัวหน้างาน" size = 6>
          {% for user in free_manager %}
              <option value ="{{user.id}}">หัวหน้างาน - {{user.first_name}}  {{user.last_name}}  </option>
          {% endfor %}
        </select>
    <br>
    <br>
    <button type="submit" class="btn btn-success" name="addmanager">ยืนยัน</button>
    <button type="submit" class="btn btn-danger" name="cancel">ยกเลิก</button>
    </div>
    {% endif %}

</form>

{% endblock %}
