{% extends 'adm/header.html' %}

{% block content %}

<a>ผู้ดูแลทั้งหมด : {{all_admin}} คน</a><br>
<a>หัวหน้างานทั้งหมด : {{all_manager}} คน</a><br>
<a>พนักงานทั้งหมด : {{all_worker}} คน</a><br>
<a>รวม : {{all}} คน</a><br>

<form action="" method="post">
    {% csrf_token %}
    <div class="ml-auto row col-4">
        <div class="col">
            <input type="text" id="search" class="form-control" placeholder="Seach ชื่อพนักงาน">
        </div>
        <input type="submit" value="ยืนยัน" class="btn btn-primary col-3">
    </div>
    {% if not data %}
    <br>
    <h2 align="center" style="color:tomato">ไม่มีพนักงาน</h2>
    {% else %}
    <div class='table-responsive'>
        <div id='table-work-group' class='table2 col'>
            <div class="row">
                <div class="col table-header d-flex">
                    <div class="my-auto">ชื่อ-นามสกุล</div>
                </div>
                <div class="col-3 table-header d-flex">
                    <div class="my-auto">ตำแหน่ง</div>
                </div>
                <div class="col-3 table-header d-flex">
                    <div class="my-auto">id พนักงาน</div>
                </div>
                <div class="col-1 table-header text-center"></div>
            </div>
            {% for object in data %}
            <div class="row" id="table-data">
                <div class='col table-body text-center d-flex'><a class="my-auto"
                        href="{% url 'adm:userInfo' uid=object.id %}">{{object.first_name}} {{object.last_name}}</a>
                </div>
                <div class='col-3 table-body d-flex'><a class="my-auto">{{object.roles}}</a></div>
                <div class='col-3 table-body d-flex'><a class="my-auto">{{object.id_card}}</a></div>
                <div class='col-1 table-body text-center d-flex'><a class='del-btn m-auto'
                        href="{% url 'adm:deleteUser' object.id %}"><i class="fas fa-trash"></i></a></div>
            </div>
            {% endfor %}
        </div>
        <br>
        <button type="submit" name='register' class="btn btn-success">เพิ่มพนักงาน</button>
</form>
{% endif %}

{% endblock %}