{% extends 'adm/header.html' %}

{% block content %}
<h2 align="center">เปลี่ยนรหัสผ่าน</h2>
<br>
<br>
{% for message in form.error %}
    <h3>{{message}}</h3>
{% endfor %}
<form class="w-100" method="POST">
    {% csrf_token %}
    <div class="form-group row col-6 mx-auto">
      <div class="form-group col-12">
        <label for="password1">Password:</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
      </div>

      <div class="form-group col-12">
        <label for="password2">Password confirmation:</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
      </div>
    <br>
    <br>
      <div class="form-group mx-auto">
        <input type="submit" value="ยืนยัน" class="btn btn-primary">
      </div>
    </div>
</form>

{% endblock %}
