{% extends 'adm/header.html' %}

{% block content %}
    <form method='POST'>
    {% csrf_token %}
    {% if not data %}
    <br>
    <br>
    <h2 align="center" style="color:tomato">ไม่มีแผนกงาน</h2>
    {% else %}
    <table class="table">
      <thead>
          <tr>
              <th scope="col">ลำดับที่</th>
              <th scope="col">ชื่อแผนก</th>
          </tr>
      </thead>
      <tbody id="table-data">
        {% for object in data %}
        <tr class="table-active" id="table">
          <td><a>{{forloop.counter}}</a></td>
          <td><a href="{% url 'adm:branch' name=object.name %}">{{object.name}}</a></td>
          <td><a style="color:tomato" >ลบแผนก</a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  <button type="submit" name='addBranch' class="btn btn-success">เพิ่มแผนกใหม่</button>
  </form>
    
{% endblock %}
