{% extends 'adm/header.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %} 
        <input type="text" id="search" placeholder="Seach ชื่อพนักงาน">
        <input type="submit" value="ยืนยัน">
    {% if not data %}
    <br>
    <br>
    <h2 align="center" style="color:tomato">ไม่มีพนักงาน {{search}}</h2>
    {% else %}
    <table class="table">
    <thead>
        <tr>
            <th scope="col">ชื่อ-นามสกุล พนักงาน</th>
            <th scope="col">ตำแหน่ง</th>
            <th scope="col">id พนักงาน</th>
        </tr>
    </thead>
    <tbody id="table-data">
        {% for object in data %}
        <tr class="table-active" id="table">
            <td><a href="{% url 'adm:eachUser' object.id %}">{{object.first_name}} {{object.last_name}} - {{object.roles}}</a></td>
            <td><a>{{object.roles}}</a></td>
            <td><a>{{object.id_card}}</a></td>
            <td><a style="color:tomato" href="{% url 'adm:deleteUser' object.id %}">ลบพนักงาน</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        <button type="submit" name='register' class="btn btn-success">เพิ่มพนักงาน</button>
    </form>
    {% endif %}
    
{% endblock %}
