{% extends 'manager/header.html' %}
{% block content %}
<h2 align="center">เพิ่มพนักงาน</h2>
<h4 align="center">{{plan.group_name.group_name}}</h4>

<form action="" method="post">
    {% csrf_token %} 
    <a>เลือกพนักงาน</a><br>
    <select name ="เลือกกลุ่มงาน" required multiple size = 3>
        {% for worker in list_worker %}
            <option value ="{{worker.id}}">พนักงาน - {{worker.first_name}}  {{worker.last_name}}</option>
        {% endfor %}
    </select><br>
<button type="submit" name='ยืนยันเพิ่มพนักงาน' class="btn btn-info">ยืนยันเพิ่มพนักงาน</button>
</form>
{% endblock %}
