{% extends 'manager/header.html' %}

{% block content %}
    <h2 align="center">กลุ่มงานของวันนี้</h2>
    <h4 align="center">{{today.date}}</h4>
    <br><br>
    {% if not data %}
      <h2 align="center" style="color:tomato">ไม่มีกลุ่มงานที่ต้องดูแลในวันนี้</h2>
    {% else %}
    <table class="table">
      <thead>
          <tr>
              <th scope="col">ลำดับที่</th>
              <th scope="col">ชื่อกลุ่มงาน</th>
              <th scope="col">วันเวลาเข้างาน</th>
              <th scope="col">วันเวลาออกงาน</th>
              <th scope="col">จำนวนพนักงานเข้า/จำนวนพนักงาน</th>
          </tr>
      </thead>
      <tbody>
        {% for object in data %}
        <tr class="table-active" id="table">
          <td><a>{{forloop.counter}}</a></td>
          <td><a href="{% url 'manager:todayPlan' pid=object.plan.id %}">{{object.plan.group_name}}</a></td>
          <td><a>{{object.plan.datetime_start}}</a></td>
          <td><a>{{object.plan.datetime_end}}</a></td>
          <td><a>{{object.workerIn}}/{{object.worker}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

{% endblock %}
