{% extends 'manager/header.html' %}

{% block content %}
    <h2 align="center">{{plan.group_name.group_name}}</h2>
    {% if not list_worker %}
      <h2 align="center" style="color:tomato">ไม่มีพนักงานในกลุ่มงานนี้</h2>
    {% else %}
    <table class="table">
      <thead>
          <tr>
              <th scope="col">ลำดับที่</th>
              <th scope="col">ID</th>
              <th scope="col">ชื่อ นามสกุลพนักงาน</th>
              <th scope="col">email</th>

          </tr>
      </thead>
      <tbody>
        {% for object in list_worker %}
        <tr class="table-active" id="table">
          <td><a>{{forloop.counter}}</a></td>
          <td><a>{{object.user.id_card}}</a></td>
          <td><a>{{object.user.first_name}}  {{object.user.last_name}}</a></td>
          <td><a>{{object.user.email}}</a></td>
          <td><a href="{% url 'manager:removeUser' pid=plan.id uid=object.user.id %}">นำพนักงานออก</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="" method="post">
      {% csrf_token %}
      <button type="submit" name='addUser' class="btn btn-info">เพิ่มพนักงาน</button>
    </form>
    {% endif %}

{% endblock %}
