{% extends 'employee/header.html' %}
  
{% block content %}
<h2 align="center">แผนงาน</h2>

<form action="" method="post">
  {% csrf_token %} 
  <input type="month" id="month" name="month" min="{{thismonth}}" value={{time}} required>
  <input type="submit" value="ยืนยัน">
</form>

{% if not data %}
<br>
<br>
<h2 align="center" style="color:tomato">ไม่มีแผนงานในเดือนที่เลือก {{thismonth}}</h2>
{% else %}
<table class="table">
  <thead>
      <tr>
          <th scope="col">วันที่เข้างาน</th>
          <th scope="col">กลุ่มงาน</th>
      </tr>
  </thead>
  <tbody id="table-data">
    {% for object in data %}
    <tr class="table-active" id="table">
      <td><a href="{% url 'employee:planInfo' object.id %}">{{object.plan.datetime_start.date}}</a></td>
      <td><a>{{object.plan.group_name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
