{% extends 'header.html' %}
{% load static %}
{% block content %}
<p style="color: red">{{messages}}</p>

<div class="row">
  <img class="d-block mx-auto mb-4" src="{% static 'img/cpf_logo.svg'%}" alt="" width="140" height="100" />
  <form class="w-100" method="POST">
    {% csrf_token %}

    <div class="form-group col-5 mx-auto">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="form-group col-5 mx-auto">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="col-5 mx-auto">
      <button type="submit" class="btn btn-primary w-100">login</button>
    </div>
  </form>
</div>

{% endblock content %}